n8n-complete-workflow.json
{
  "name": "Telegram Mini App - Full n8n",
  "nodes": [
    {
      "parameters": {
        "path": "app",
        "options": {}
      },
      "id": "webhook-app",
      "name": "Webhook Main App",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "app"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $node[\"Generate HTML\"].json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "response-html",
      "name": "Return HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// HTML template đầy đủ cho Telegram Mini App\nconst html = `\n<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\">\n    <title>Quản Lý Tài Sản</title>\n    <script src=\"https://telegram.org/js/telegram-web-app.js\"></script>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;\n            background: #f5f5f5;\n            padding: 20px;\n        }\n        .container { max-width: 600px; margin: 0 auto; }\n        .header {\n            background: linear-gradient(135deg, #2481cc, #5ba3d8);\n            color: white;\n            padding: 30px 20px;\n            border-radius: 12px;\n            text-align: center;\n            margin-bottom: 20px;\n        }\n        .form-group {\n            margin-bottom: 15px;\n        }\n        .form-group label {\n            display: block;\n            margin-bottom: 5px;\n            font-weight: 600;\n        }\n        .form-group input, .form-group select, .form-group textarea {\n            width: 100%;\n            padding: 12px;\n            border: 2px solid #e0e0e0;\n            border-radius: 8px;\n            font-size: 16px;\n        }\n        .form-group input:focus, .form-group select:focus, .form-group textarea:focus {\n            outline: none;\n            border-color: #2481cc;\n        }\n        .btn {\n            width: 100%;\n            padding: 15px;\n            background: #2481cc;\n            color: white;\n            border: none;\n            border-radius: 8px;\n            font-size: 16px;\n            font-weight: bold;\n            cursor: pointer;\n            margin-top: 10px;\n        }\n        .btn:hover { background: #1a6ba8; }\n        .btn:disabled {\n            background: #ccc;\n            cursor: not-allowed;\n        }\n        .section {\n            background: white;\n            padding: 20px;\n            border-radius: 12px;\n            margin-bottom: 15px;\n        }\n        .menu-btn {\n            width: 100%;\n            padding: 20px;\n            background: white;\n            border: 2px solid #e0e0e0;\n            border-radius: 12px;\n            cursor: pointer;\n            text-align: left;\n            margin-bottom: 15px;\n        }\n        .menu-btn:hover {\n            border-color: #2481cc;\n        }\n        .item {\n            padding: 15px;\n            background: white;\n            border-radius: 8px;\n            margin-bottom: 10px;\n            border-left: 4px solid #2481cc;\n        }\n        .hidden { display: none; }\n    </style>\n</head>\n<body>\n    <div class=\"container\" id=\"app\">\n        <div class=\"header\">\n            <h1>📦 Quản Lý Tài Sản</h1>\n            <p>Hệ thống quản lý hàng hóa công ty</p>\n        </div>\n\n        <!-- Menu -->\n        <div id=\"menu-page\">\n            <button class=\"menu-btn\" onclick=\"showPage('import-page')\">\n                <div style=\"font-size: 24px; margin-bottom: 10px;\">📥</div>\n                <div style=\"font-size: 18px; font-weight: bold;\">Nhập Hàng</div>\n                <div style=\"color: #666; font-size: 14px;\">Ghi nhận hàng hóa nhập kho</div>\n            </button>\n            <button class=\"menu-btn\" onclick=\"showPage('check-page')\">\n                <div style=\"font-size: 24px; margin-bottom: 10px;\">✅</div>\n                <div style=\"font-size: 18px; font-weight: bold;\">Kiểm Hàng</div>\n                <div style=\"color: #666; font-size: 14px;\">Kiểm tra tồn kho</div>\n            </button>\n            <button class=\"menu-btn\" onclick=\"showPage('list-page')\">\n                <div style=\"font-size: 24px; margin-bottom: 10px;\">📋</div>\n                <div style=\"font-size: 18px; font-weight: bold;\">Danh Sách</div>\n                <div style=\"color: #666; font-size: 14px;\">Xem tất cả phiếu nhập</div>\n            </button>\n        </div>\n\n        <!-- Nhập Hàng -->\n        <div id=\"import-page\" class=\"hidden\">\n            <button class=\"btn\" style=\"background: #666; margin-bottom: 15px;\" onclick=\"showPage('menu-page')\">← Quay lại</button>\n            <div class=\"section\">\n                <h2 style=\"margin-bottom: 15px;\">Nhập Hàng</h2>\n                <form id=\"import-form\">\n                    <div class=\"form-group\">\n                        <label>Tên sản phẩm *</label>\n                        <input type=\"text\" id=\"product-name\" required>\n                    </div>\n                    <div class=\"form-group\">\n                        <label>Mã sản phẩm *</label>\n                        <input type=\"text\" id=\"product-code\" required>\n                    </div>\n                    <div class=\"form-group\">\n                        <label>Số lượng *</label>\n                        <input type=\"number\" id=\"quantity\" required min=\"1\">\n                    </div>\n                    <div class=\"form-group\">\n                        <label>Đơn vị *</label>\n                        <select id=\"unit\" required>\n                            <option value=\"cái\">Cái</option>\n                            <option value=\"chiếc\">Chiếc</option>\n                            <option value=\"hộp\">Hộp</option>\n                            <option value=\"thùng\">Thùng</option>\n                            <option value=\"kg\">Kg</option>\n                        </select>\n                    </div>\n                    <div class=\"form-group\">\n                        <label>Nhà cung cấp</label>\n                        <input type=\"text\" id=\"supplier\">\n                    </div>\n                    <div class=\"form-group\">\n                        <label>Ngày nhập *</label>\n                        <input type=\"date\" id=\"import-date\" required>\n                    </div>\n                    <button type=\"submit\" class=\"btn\">💾 Lưu phiếu nhập</button>\n                </form>\n            </div>\n        </div>\n\n        <!-- Danh sách -->\n        <div id=\"list-page\" class=\"hidden\">\n            <button class=\"btn\" style=\"background: #666; margin-bottom: 15px;\" onclick=\"showPage('menu-page')\">← Quay lại</button>\n            <div class=\"section\">\n                <h2 style=\"margin-bottom: 15px;\">Danh Sách Hàng Hóa</h2>\n                <div id=\"list-container\">Đang tải...</div>\n            </div>\n        </div>\n\n        <!-- Kiểm hàng -->\n        <div id=\"check-page\" class=\"hidden\">\n            <button class=\"btn\" style=\"background: #666; margin-bottom: 15px;\" onclick=\"showPage('menu-page')\">← Quay lại</button>\n            <div class=\"section\">\n                <h2 style=\"margin-bottom: 15px;\">Kiểm Hàng</h2>\n                <div id=\"check-list\">Đang tải...</div>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        const tg = window.Telegram.WebApp;\n        tg.expand();\n        tg.ready();\n\n        const BASE_URL = 'https://n8n.tayninh.cloud/webhook';\n        const user = tg.initDataUnsafe?.user || { id: 'test', first_name: 'Test' };\n\n        function showPage(pageId) {\n            document.querySelectorAll('[id$=\"-page\"]').forEach(p => p.classList.add('hidden'));\n            document.getElementById(pageId).classList.remove('hidden');\n            \n            if (pageId === 'list-page') loadList();\n            if (pageId === 'check-page') loadCheckList();\n            if (pageId === 'import-page') setToday();\n        }\n\n        function setToday() {\n            document.getElementById('import-date').value = new Date().toISOString().split('T')[0];\n        }\n\n        document.getElementById('import-form').addEventListener('submit', async (e) => {\n            e.preventDefault();\n            const btn = e.target.querySelector('button');\n            btn.disabled = true;\n            btn.textContent = '⏳ Đang lưu...';\n\n            const data = {\n                product_name: document.getElementById('product-name').value,\n                product_code: document.getElementById('product-code').value,\n                quantity: parseInt(document.getElementById('quantity').value),\n                unit: document.getElementById('unit').value,\n                supplier: document.getElementById('supplier').value || '',\n                import_date: document.getElementById('import-date').value,\n                telegram_user_id: user.id.toString(),\n                telegram_user_name: user.first_name\n            };\n\n            try {\n                const res = await fetch(BASE_URL + '/nhap-hang', {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(data)\n                });\n                \n                if (res.ok) {\n                    tg.showAlert('✅ Đã lưu: ' + data.product_name);\n                    e.target.reset();\n                    setToday();\n                    showPage('menu-page');\n                } else {\n                    throw new Error('Failed');\n                }\n            } catch (err) {\n                tg.showAlert('❌ Lỗi khi lưu!');\n            } finally {\n                btn.disabled = false;\n                btn.textContent = '💾 Lưu phiếu nhập';\n            }\n        });\n\n        async function loadList() {\n            try {\n                const res = await fetch(BASE_URL + '/danh-sach');\n                const result = await res.json();\n                const list = result.data || [];\n                \n                if (list.length === 0) {\n                    document.getElementById('list-container').innerHTML = '<p style=\"text-align:center; color:#999;\">Chưa có dữ liệu</p>';\n                    return;\n                }\n                \n                document.getElementById('list-container').innerHTML = list.map(item => `\n                    <div class=\"item\">\n                        <div style=\"font-weight:bold;\">${item.product_name}</div>\n                        <div style=\"color:#666; font-size:14px;\">Mã: ${item.product_code} • ${item.quantity} ${item.unit}</div>\n                        <div style=\"color:#999; font-size:12px;\">📅 ${item.import_date}</div>\n                    </div>\n                `).join('');\n            } catch (err) {\n                document.getElementById('list-container').innerHTML = '<p style=\"color:red;\">Lỗi tải dữ liệu</p>';\n            }\n        }\n\n        async function loadCheckList() {\n            try {\n                const res = await fetch(BASE_URL + '/danh-sach');\n                const result = await res.json();\n                const list = (result.data || []).filter(i => i.status === 'pending');\n                \n                if (list.length === 0) {\n                    document.getElementById('check-list').innerHTML = '<p style=\"text-align:center; color:#999;\">Không có hàng cần kiểm</p>';\n                    return;\n                }\n                \n                document.getElementById('check-list').innerHTML = list.map(item => `\n                    <div class=\"item\" onclick=\"checkItem(${item.id}, '${item.product_name}', ${item.quantity})\">\n                        <div style=\"font-weight:bold;\">${item.product_name}</div>\n                        <div style=\"color:#666; font-size:14px;\">Mã: ${item.product_code} • ${item.quantity} ${item.unit}</div>\n                        <div style=\"color:#ff9800; font-size:12px;\">⏳ Chờ kiểm tra</div>\n                    </div>\n                `).join('');\n            } catch (err) {\n                document.getElementById('check-list').innerHTML = '<p style=\"color:red;\">Lỗi tải dữ liệu</p>';\n            }\n        }\n\n        async function checkItem(id, name, qty) {\n            const actual = prompt('Số lượng thực tế:', qty);\n            if (!actual) return;\n            \n            const data = {\n                id: id,\n                actual_quantity: parseInt(actual),\n                condition: 'good',\n                check_notes: '',\n                telegram_user_id: user.id.toString(),\n                telegram_user_name: user.first_name\n            };\n\n            try {\n                const res = await fetch(BASE_URL + '/kiem-hang', {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(data)\n                });\n                \n                if (res.ok) {\n                    tg.showAlert('✅ Đã kiểm: ' + name);\n                    loadCheckList();\n                } else {\n                    throw new Error('Failed');\n                }\n            } catch (err) {\n                tg.showAlert('❌ Lỗi khi kiểm!');\n            }\n        }\n\n        setToday();\n    </script>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "id": "generate-html",
      "name": "Generate HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "path": "nhap-hang",
        "options": {}
      },
      "id": "webhook-nhap-hang",
      "name": "API Nhập Hàng",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 500],
      "webhookId": "nhap-hang"
    },
    {
      "parameters": {
        "operation": "create",
        "dataTableName": "inventory_imports",
        "values": "={{ $json }}"
      },
      "id": "save-import",
      "name": "Save to Table",
      "type": "n8n-nodes-base.internalTable",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true } }}"
      },
      "id": "response-save",
      "name": "Response OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "path": "kiem-hang",
        "options": {}
      },
      "id": "webhook-check",
      "name": "API Kiểm Hàng",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 700],
      "webhookId": "kiem-hang"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableName": "inventory_imports",
        "filterOptions": {
          "conditions": [
            {
              "column": "id",
              "operator": "equals",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "values": {
          "status": "checked",
          "actual_quantity": "={{ $json.actual_quantity }}",
          "condition": "={{ $json.condition }}",
          "check_notes": "={{ $json.check_notes }}",
          "checked_by_user_id": "={{ $json.telegram_user_id }}",
          "checked_by_user_name": "={{ $json.telegram_user_name }}",
          "check_date": "={{ $now.toISO() }}"
        }
      },
      "id": "update-check",
      "name": "Update Check",
      "type": "n8n-nodes-base.internalTable",
      "typeVersion": 1,
      "position": [460, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true } }}"
      },
      "id": "response-check",
      "name": "Response Check OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 700]
    },
    {
      "parameters": {
        "path": "danh-sach",
        "options": {}
      },
      "id": "webhook-list",
      "name": "API Danh Sách",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 900],
      "webhookId": "danh-sach"
    },
    {
      "parameters": {
        "operation": "getAll",
        "dataTableName": "inventory_imports",
        "returnAll": true,
        "options": {}
      },
      "id": "get-all",
      "name": "Get All Data", 
      "type": "n8n-nodes-base.internalTable",
      "typeVersion": 1,
      "position": [460, 900]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: $json } }}"
      },
      "id": "response-list",
      "name": "Response List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 900]
    }
  ],
  "connections": {
    "Webhook Main App": {
      "main": [[{ "node": "Generate HTML", "type": "main", "index": 0 }]]
    },
    "Generate HTML": {
      "main": [[{ "node": "Return HTML", "type": "main", "index": 0 }]]
    },
    "API Nhập Hàng": {
      "main": [[{ "node": "Save to Table", "type": "main", "index": 0 }]]
    },
    "Save to Table": {
      "main": [[{ "node": "Response OK", "type": "main", "index": 0 }]]
    },
    "API Kiểm Hàng": {
      "main": [[{ "node": "Update Check", "type": "main", "index": 0 }]]
    },
    "Update Check": {
      "main": [[{ "node": "Response Check OK", "type": "main", "index": 0 }]]
    },
    "API Danh Sách": {
      "main": [[{ "node": "Get All Data", "type": "main", "index": 0 }]]
    },
    "Get All Data": {
      "main": [[{ "node": "Response List", "type": "main", "index": 0 }]]
    }
  }
}