n8n-workflow.json
{
  "name": "Telegram Mini App - Quản Lý Tài Sản",
  "nodes": [
    {
      "parameters": {
        "path": "nhap-hang",
        "options": {}
      },
      "id": "webhook-nhap-hang",
      "name": "Webhook Nhập Hàng",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "nhap-hang"
    },
    {
      "parameters": {
        "operation": "create",
        "dataTableName": "inventory_imports",
        "columnsToMatchOn": [],
        "values": {
          "product_name": "={{ $json.product_name }}",
          "product_code": "={{ $json.product_code }}",
          "quantity": "={{ $json.quantity }}",
          "unit": "={{ $json.unit }}",
          "supplier": "={{ $json.supplier || '' }}",
          "import_date": "={{ $json.import_date }}",
          "notes": "={{ $json.notes || '' }}",
          "telegram_user_id": "={{ $json.telegram_user_id }}",
          "telegram_user_name": "={{ $json.telegram_user_name }}",
          "status": "pending",
          "created_at": "={{ $now.toISO() }}"
        }
      },
      "id": "save-nhap-hang",
      "name": "Lưu Nhập Hàng",
      "type": "n8n-nodes-base.internalTable",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, id: $json.id, message: 'Đã lưu phiếu nhập thành công' } }}"
      },
      "id": "response-nhap-hang",
      "name": "Response Nhập Hàng",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "path": "kiem-hang",
        "options": {}
      },
      "id": "webhook-kiem-hang",
      "name": "Webhook Kiểm Hàng",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 500],
      "webhookId": "kiem-hang"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableName": "inventory_imports",
        "filterOptions": {
          "conditions": [
            {
              "column": "id",
              "operator": "equals",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "values": {
          "status": "checked",
          "check_date": "={{ $now.toISO() }}",
          "actual_quantity": "={{ $json.actual_quantity }}",
          "condition": "={{ $json.condition }}",
          "check_notes": "={{ $json.check_notes || '' }}",
          "checked_by_user_id": "={{ $json.telegram_user_id }}",
          "checked_by_user_name": "={{ $json.telegram_user_name }}"
        }
      },
      "id": "update-kiem-hang",
      "name": "Cập Nhật Kiểm Hàng",
      "type": "n8n-nodes-base.internalTable",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Đã lưu kết quả kiểm hàng' } }}"
      },
      "id": "response-kiem-hang",
      "name": "Response Kiểm Hàng",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "path": "danh-sach",
        "options": {}
      },
      "id": "webhook-danh-sach",
      "name": "Webhook Danh Sách",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 700],
      "webhookId": "danh-sach"
    },
    {
      "parameters": {
        "operation": "getAll",
        "dataTableName": "inventory_imports",
        "returnAll": true,
        "options": {
          "sort": [
            {
              "column": "created_at",
              "direction": "descending"
            }
          ]
        }
      },
      "id": "get-danh-sach",
      "name": "Lấy Danh Sách",
      "type": "n8n-nodes-base.internalTable",
      "typeVersion": 1,
      "position": [460, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: $json } }}"
      },
      "id": "response-danh-sach",
      "name": "Response Danh Sách",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 700]
    }
  ],
  "connections": {
    "Webhook Nhập Hàng": {
      "main": [[{ "node": "Lưu Nhập Hàng", "type": "main", "index": 0 }]]
    },
    "Lưu Nhập Hàng": {
      "main": [[{ "node": "Response Nhập Hàng", "type": "main", "index": 0 }]]
    },
    "Webhook Kiểm Hàng": {
      "main": [[{ "node": "Cập Nhật Kiểm Hàng", "type": "main", "index": 0 }]]
    },
    "Cập Nhật Kiểm Hàng": {
      "main": [[{ "node": "Response Kiểm Hàng", "type": "main", "index": 0 }]]
    },
    "Webhook Danh Sách": {
      "main": [[{ "node": "Lấy Danh Sách", "type": "main", "index": 0 }]]
    },
    "Lấy Danh Sách": {
      "main": [[{ "node": "Response Danh Sách", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-06T09:52:00.000Z",
  "versionId": "1"
}